body {
  color: #212121;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

.site {
  &__title {
    color: #656565;
    font-size: 38px;
    padding: 61px 0 45px;
    text-transform: uppercase;
  }

  &__nav {
    &-link {
      border-bottom: 1px solid transparent;
      color: white;
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      padding: 8px 0 5px;
      text-decoration: none;
      text-transform: uppercase;

      &--selected {
        border-bottom: 2px solid black;
        color: #333333;
      }
    }
  }

  &__main {
    &-title {
      font-size: 24px;
      margin: 28px 0 11px;
    }
  }
}
