.site {
  &__main {
  }

  &__illustration {
    align-items: center;
    column-gap: 60px;
    height: 210px;
    justify-content: center;
    width: 100%;
  }
}

.form {
  align-self: flex-start;
  padding: 1em 0.75em;
  border: 1px solid lightblue;
}
